<div *ngIf="product">
  <h1>{{product.name}}</h1>

  <div class="content mt-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="mw-100 mh-100 m-auto" src="{{product.img}}" alt="">
      </div>
      <div class="col-12 col-md-6">
        <div class="product-price fs-1">${{product.price}}</div>
        <div class="product-controls">
          <a [routerLink]="" (click)="addToBasket(product.id)" *ngIf="!product.basket" class="btn btn-outline-success">Buy</a>
          <a routerLink="/basket" *ngIf="product.basket" class="btn btn-outline-danger">Go to cart</a>
        </div>
        <div class="product-description mt-3">
          {{product.description}}
        </div>
      </div>
    </div>
  </div>
</div>
