<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Authorization</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="inputEmail">Email address</label>
        <input type="email" [(ngModel)]="userName" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="mt-2">Password</label>
        <input type="password" [(ngModel)]="userPassword" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="sendForm()">Sign in</button>
      </div>
    </div>
  </div>
</div>
